<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="0804a148-f365-4b02-9458-1c1c07124613" Publisher="CN=User" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TraceRT.Windows</DisplayName>
    <PublisherDisplayName>User</PublisherDisplayName>
    <Logo>Image/70.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TraceRT.Windows.App">
      <m2:VisualElements DisplayName="TraceRT.Windows" Square150x150Logo="Images/tile_mid.png" Square30x30Logo="Assets\SmallLogo.png" Description="TraceRT.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Ping\trace" Square310x310Logo="Images/tile_largee.png" Wide310x150Logo="Images/tile_wide.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Images/splash.png" BackgroundColor="#ffffff" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>